<div class="row">
	<div class="col-12 col-md-3">
		<%= render partial: 'rooms' %>
	</div>

	<div class="col">
		<div class="alert alert-primary">
			<h4 class="alert-heading">
				Welcome to the Chatster!
			</h4>

			<p>
				Wanna chat?
			</p>

			<hr />

			<p>
				Please create or join a room!
			</p>
		</div>
	</div>
</div>
