.avatar {
	max-height: 30px;
	border-radius: 15px;
	width: auto;
	vertical-align: middle;
}

.room-nav-link {
	border: 2px solid white;
	background-color: lightblue;

	& + .room-nav-link {
	border-top: 0 none;
	}
}